name: Install deps
description: "Sets up Node.js and installs deps"

runs:
  using: "composite"
  steps:
    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: "npm"

    - name: Install deps
      shell: bash
      run: |
        npm ci
